name: ENV variables
on: 
  push:
    branches:
    - testing
  pull_request:
    types:
    - opened
    branches:
    - main

env: 
  WF_ENV: Available to all jobs # environment variable available for all jobs

jobs:
  Displaying_variables:
    runs-on: ubuntu-latest
    env:
        jobVariable: available variable # variable available for all steps
    steps:
      - name: Log ENV variables
        env: 
            stepVariable: Only available to this step # variable available for this specific step
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "jobVariable: ${jobVariable}"
          echo "stepVariable: ${stepVariable}"
      - name: Log variables 2
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "jobVariable: ${jobVariable}"
          echo "stepVariable: ${stepVariable}"