name: Shell Commands # name of the test

on: [pull_request] # an array with events that trigger the workflow file, now only a push will trigger the workflow

jobs: # is an object. Each job will run on a virtual machine
  run-shell-command: # id/name of the job
    runs-on: ubuntu-latest
    steps: # an array of objects
      - name: Echo a string # Naming the executing step
        run: echo "Hello World!" # this single command will be executed. Hello World! will be 'printed'
      - name: multiline script
        run: | # through this pipe character, multiple commands can be executed
          node -v
          npm -v
      - name: Python Command
        run: |
          import platform
          print(platform.processor())
        shell: python
  run-windows-commands: 
    runs-on: windows-latest
    needs: ['run-shell-command'] # with 'needs', this job will be executed when the first job has finshed
    steps: 
      - name: Directory PowerShell
        run: Get-Location
      - name: Directory Bash
        run: pwd
        shell: bash

  

  